@model Web.Models.ChangePersonelPasswordViewModel
@{
    ViewBag.Title = "ویرایش " + Html.DisplayNameFor(m => m);
    //  Layout = "~/Areas/AdminRoot/Views/Shared/_NLayout.cshtml";
    string fullname = Model.Name + " " + Model.Family;
}
<section id="UserCreate" class="top-buffer">
    <div class="row text-center"> <h3>تغییر پسورد <b>@fullname</b></h3></div>
    <hr />
    @using (Html.BeginForm())
            {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UserId)

        @*<div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.Family, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Family, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Family, null, new { @class = "text-danger" })
                </div>
            </div>*@

            @*<div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-4">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

            <hr />
            <div class="row"></div>
           <div class="row top-buffer">
                <div class="col-md-10 col-md-pull-8">
                    <input type="submit" value="ثبت" class="btn btn-success" />
                    @Html.ActionLink("فهرست", "Index", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        
    }
</section>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Html.Raw(TempData["res"])
}


