@model IEnumerable<ServiceLayer.Models.PersonelVM>

@{
    //ViewBag.Title = "فهرست " + Server.HtmlDecode(Html.DisplyModelPluralName(model => model).ToString());
    //Layout = "~/Areas/AdminRoot/Views/Shared/_NLayout.cshtml";
    int counter = 1;
}
<section id="Users" class="top-buffer">
    <div class="row text-center"> <h3>مشخصات کارمندان</h3></div>
    <hr />
    @(Html.Kendo().Grid(Model).HtmlAttributes(new { @class = "k-rtl", style = "height:600px" })
                 .Name("UserGrid")
                 .Columns(columns =>
                 {
                 columns.Template( @<text>      @counter   @{ counter++; }   </text>).Width(70).Title("ردیف");
                     columns.Bound(model => model.Name);
                  //   columns.Bound(model => model.PersonliNo);
                     // columns.Bound(model => model.MadrakTashili);
                     columns.Bound(model => model.Username);
                     //     columns.Bound(model => model.IsRasmi);

                     columns.Bound(item => @item.UserId).Title("دستورات").Filterable(false).Groupable(false).
                Template(@<text>
                            @Html.ActionLink("ویرایش", "Edit", new { id = @item.UserId }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("تغییر پسورد", "ChangePassword", new { id = @item.UserId }, new { @class = "btn btn-primary" })
                            <a href="#" id="@item.UserId" class="btn btn-primary checkDelete">حذف</a>
                </text>).Width(300);
                 })
        .ToolBar(toolbar =>
        {
            toolbar.Custom().Action("Create", "Personels").Text("افزودن");
        }
        )
        //.Groupable()
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .DataSource(dataSource => dataSource
                                    .Server()
                                    .PageSize(10)
                                    .Model(model => model.Id(item => item.UserId))
                    )
    )
</section>

@section scripts{
    <script type="text/javascript">
        $(function () {

            $(".checkDelete").click(function () {
                var curRec = this.id;//get id of record;
                showConfirm("از حذف این رکورد مطمئن هستید؟").then(function (stat) {
                    if (stat) {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Delete", "Personels")', // we are calling json method
                            dataType: 'json',
                            data: { id: curRec },
                            success: function (states) {
                                if (states) {
                                    if (states.codeid == 1) {
                                        $.ajax({
                                            type: 'get',
                                            url: '/Admin/Personels/Index',
                                            data: {},
                                            success: function (data) {//rebind grid
                                                window.location.href = "/Admin/Personels/Index";
                                                showNotification("عملیات حذف با موفقیت انجام گردید", "success", "center");
                                            }
                                        });
                                    }
                                    else if (states.codeid == 2) {
                                        showNotification("خطا در عملیات حذف رکورد", "information");
                                        return;
                                    }
                                    else {
                                        showNotification("رکورد مورد نظر سابقه داشته و قابل حذف نمی باشد", "information", "center");
                                        return;
                                    }

                                }
                                else {
                                    //res = "خطا در حذف";
                                }
                            },
                            error: function (ex) {
                                alert('Failed to retrieve states.' + ex);
                            }
                        })
                    }
                });

            });

        });
    </script>
    @Html.Raw(TempData["res"])
}