<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
   
    @Styles.Render("~/Content/BackEndcss")           
    @Scripts.Render("~/bundles/modernizr")        
    @Scripts.Render("~/Js/BackJs")        
    <style type="text/css">
        .k-link {
            display: inline !important;
        }
        .form-control{
            padding:0;
        }
     /*for show collapse button always*/
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
   
    .navbar-collapse.collapse {
        display: none!important;
    }
    
    </style>
</head>
<body id="page-top" class="k-rtl right" >
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background-color:darkcyan">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.Action(MVC.Admin.Home.ActionNames.UserInfo,MVC.Admin.Home.Name, new {Area=MVC.Admin.Name })
            </div>
            <div class="collapse" id="bs-example-navbar-collapse-1" style="width:680px">
                @*<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="width:680px">*@
                    @Html.Action(MVC.Admin.Home.ActionNames.fillMenu, MVC.Admin.Home.Name, new { Area = MVC.Admin.Name, partialViewName = "_NavigatePartial" })
                </div>          
        </div>
    </nav>  
    <div style="margin:0 auto; width:75%;">       
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p style="text-align:center" >www.parsiandanesh.com - @DateTime.Now.Year</p>
    </footer>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Js/FooterBackJs")
    @RenderSection("scripts", required: false)
</body>
</html>
