@model DomainClass.Models.Packages
@{
    ViewBag.Title = Model.PackageTitle;
    // Layout = "~/Views/Shared/_EshopLayout.cshtml";
}

<section class="single-page">
    <header><h3>بسته @Model.PackageTitle  </h3> </header>
    <article>
        <!-- Detail -->
        <div class="col-md-8 col-sm-12 col-xs-12 pull-left detail-product">
            <div>
                <span> قیمت : @Model.Cost تومان </span>
                <a onclick="AddToCart(@Model.Id,'Package')" class="add-to-card-link border-radius"> افزودن به سبد خرید </a>
            </div>
            <p>
                @Model.PackageDescription
            </p>
        </div>
        <!-- End Detail -->
        <!-- Gallery -->
        <div class="col-md-4 col-sm-12 col-xs-12 pull-right product-gallery">
            <div class="large-image border-radius">
                <img class="border-radius" src="~/Uploads/ImgProducts/@Model.ImageName">
            </div>
            @{

                IEnumerable<DomainClass.Models.Image> Package_Galleries = ViewBag.PackageGallery;
                if (Package_Galleries.Any())
                {
                    <div class="thumbnails-image">
                        <div class="row">
                            @foreach (var item in Package_Galleries)
                            {
                                <div class="col-md-3 col-sm-3 col-xs-4 border-radius"><img class="border-radius" alt="@item.Title" src="~/Uploads/ImgProducts/Thumb/@item.ImageName"></div>

                            }
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }
            }
        </div>
        <!-- End Gallery -->
        <div class="clearfix"></div>
    </article>
</section>

<div class="tabs-product margin-top-25">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#main-content"> توضیحات کامل </a></li>
        <li><a data-toggle="tab" href="#properties"> محصولات این بسته </a></li>
        @*<li><a data-toggle="tab" href="#comments"> نظرات کاربران </a></li>*@
    </ul>
    <div class="tab-content ">
        <!-- description -->
        <div id="main-content" class="tab-pane fade in active">
            @Html.Raw(Model.Summery)
        </div>
        <!-- End description -->
        <!-- Chart -->
        <div id="properties" class="tab-pane fade">
            <h3> لیست محصولات : </h3>

            @if (ViewBag.PackageProducts != null)
            {
                IEnumerable<DomainClass.Models.Product> list = ViewBag.PackageProducts;

            <ul>
                @foreach (var item in list)
                    {
                    <li> @item.ProductGroup.ProductGroupTitle - @item.ProductName </li>
                    }
            </ul>
            }

        </div>
        <!-- End Chart -->
        <!-- Comment -->
        @*<div id="comments" class="tab-pane fade">
            <div class="comment-layer">
                <form action="" method="post">
                    <div class="col-md-5">
                        <div class="form-group">
                            <input class="form-control" placeholder="نام و نام خانوادگی" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="ایمیل" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="وب سایت" type="text">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <textarea class="form-control" placeholder="متن دیدگاه"></textarea>
                        <input class="btn btn-primary" value="ثبت دیدگاه ارزشمند شما" type="submit">
                    </div>
                    <div class="clearfix"></div>
                </form>
                <ul class="comment-list">
                    <li>
                        <a href="" class="reply-button">پاسخ</a>

                        <img src="img/avatar.jpg" width="65">
                        <div>
                            <h5>ارسال شده از : میترا رحیمی در تاریخ : 15/5/95 </h5>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                        <ul>
                            <li>
                                <a href="" class="reply-button">پاسخ</a>

                                <img src="img/avatar.jpg" width="65">
                                <div>
                                    <h5>ارسال شده از : میترا رحیمی در تاریخ : 15/5/95 </h5>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <a href="" class="reply-button">پاسخ</a>
                                <img src="img/avatar.jpg" width="65">
                                <div>
                                    <h5>ارسال شده از : میترا رحیمی در تاریخ : 15/5/95 </h5>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <a href="" class="reply-button">پاسخ</a>
                                <img src="img/avatar.jpg" width="65">
                                <div>
                                    <h5>ارسال شده از : میترا رحیمی در تاریخ : 15/5/95 </h5>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="" class="reply-button">پاسخ</a>
                        <img src="img/avatar.jpg" width="65">
                        <div>
                            <h5>ارسال شده از : میترا رحیمی در تاریخ : 15/5/95 </h5>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <a href="" class="reply-button">پاسخ</a>
                        <img src="img/avatar.jpg" width="65">
                        <div>
                            <h5>ارسال شده از : میترا رحیمی در تاریخ : 15/5/95 </h5>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
        </div>*@
        <!-- End Comment -->

    </div>
</div>
<section class="border-radius tags-layer">
    @{
        IEnumerable<DomainClass.Models.Tags> tags = ViewBag.Tags;
        if (tags.Count() > 0)
        {
            foreach (var item in tags)
            {
                <a href="/Search?q=@item.tagTitle">@item.tagTitle</a>
            }
        }
    }



</section>



