@model IEnumerable<ServiceLayer.Models.NewsViewModel>

@{
    ViewBag.Title = "فهرست " + Server.HtmlDecode(Html.DisplyModelPluralName(model => model).ToString());
   // Layout = "~/Areas/AdminRoot/Views/Shared/_NLayout.cshtml";
    int counter = 1;
}
<section id="News" class="bg-primary">
    <div class="row text-center" style="color:black"> <h3> ثبت خبر </h3></div>
    @(Html.Kendo().Grid(Model)
        .Name("NewsGrid").HtmlAttributes(new { @class = "k-rtl", style = "height:600px" })
        .Columns(columns =>
        {
        columns.Template( @<text>      @counter   @{ counter++; }      </text>).Width(50).Title("ردیف");
            columns.Bound(model => model.NewsTitle);
            columns.Bound(model => model.IsAuthenticated);
            columns.Bound(item => @item.NewsId).Title("دستورات").Groupable(false).Sortable(false).Template(@<text>
        @Html.ActionLink("ویرایش", "Edit", new { id = @item.NewsId }, new { @class = "btn btn-primary" })
        <a href="#" id="@item.NewsId" class="btn btn-primary btnDelete">حذف</a>
            </text>);
        })
        .ToolBar(toolbar => { toolbar.Custom().Action("Create", "News").Text("افزودن"); })
        //.Groupable()
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .DataSource(dataSource => dataSource
                                    .Server()
                                    .Model(model => model.Id(item => item.NewsId))
                    )
    )
</section>
@section scripts{
    <script type="text/javascript">
        $(".btnDelete").click(function () {
            var curRec = this.id;//get id of record;
            showConfirm("از حذف این رکورد مطمئن هستید؟").then(function (stat) {
                if (stat) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Delete", "News")', // we are calling json method
                        dataType: 'json',
                        data: { id: curRec },
                        success: function (states) {
                            if (states) {
                                if (states.codeid == 1) {
                                    $.ajax({
                                        type: 'get',
                                        url: '/Admin/News/Index',
                                        data: { },
                                        success: function (data) {
                                            //rebind grid
                                            window.location.href = "/Admin/News/Index";
                                            showNotification("عملیات حذف با موفقیت انجام گردید", "success");
                                        }
                                    });
                                }
                                else if (states.codeid == 2) {
                                    showNotification("خطا در عملیات حذف رکورد", "information");
                                    return;
                                }
                                else {
                                    showNotification("رکورد مورد نظر سابقه داشته و قابل حذف نمی باشد", "information");
                                    return;
                                }

                            }
                            else {
                                //res = "خطا در حذف";
                            }
                        },
                        error: function (ex) {
                            alert('Failed to retrieve states.' + ex);
                        }
                    })
                }
            });

        });
    </script>
}