@model IEnumerable<ServiceLayer.Models.ProductVM>
   
       
            @foreach (var item in Model)
            {
                <div class="col-md-3 product-men">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            @*<img src="@Url.Content("~/Uploads/ImgProducts/37b7ede6b5e443db83e17031aca04c39.gif")" alt="" class="pro-image-front" />
                            <img src="@Url.Content("~/Uploads/ImgProducts/37b7ede6b5e443db83e17031aca04c39.gif")" alt="" class="pro-image-back" />*@
                            <img src="@Url.Content(item.PicPath)" alt="" class="pro-image-front" />
                            <img src="@Url.Content(item.PicPath)" alt="" class="pro-image-back" />
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="single.html" class="link-product-add-cart">جزییات</a>
                                </div>
                            </div>
                        </div>
                        <div class="item-info-product ">
                            <h4><a href="single.html">@item.ProductName </a></h4>
                            <div class="info-product-price">
                                <span class="item_price">@item.Price تومان</span>
                              @*  <del>ریال300000</del>*@
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="1" />
                                        <input type="hidden" name="business" value=" " />
                                        <input type="hidden" name="item_name" value="کتاب داخلی" />
                                        <input type="hidden" name="amount" value="18000" />
                                        <input type="hidden" name="discount_amount" value="1.00" />
                                        <input type="hidden" name="currency_code" value="IRN" />
                                        <input type="hidden" name="return" value=" " />
                                        <input type="hidden" name="cancel_return" value=" " />
                                        <input type="submit" name="submit" value="افزودن به سبد خرید" class="button" />
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            }
           
     
            <div class="clearfix"></div>
     
   
     
