@model IEnumerable<ServiceLayer.Models.BSliderVm>

@{
    ViewBag.Title =  " لیست عکس های اسلایدر";
    Layout = "~/Areas/Admin/Views/Shared/_NLayout.cshtml";
}
<section id="News" class="bg-primary top-buffer">
    @(Html.Kendo().Grid(Model)
        .Name("SliderGrid").HtmlAttributes(new { style = "height:600px;" })
        .Columns(columns =>
        {
        columns.Bound(model => model.imgTitle);            
        columns.Bound(model => model.imgPriority);
        columns.Bound(model => model.imgIsActive);        
        columns.Bound(item => @item.Id).Title("دستورات").Groupable(false).Sortable(false).Template(@<text>
        @Html.ActionLink("ویرایش", "Edit", new { id = @item.Id }, new { @class = "btn btn-primary" })
        <a href="#" id="@item.Id" class="btn btn-primary btnDelete">حذف</a>
        </text>);
        })
        .ToolBar(toolbar =>
        {
            toolbar.Custom().Action("Create", "Galleries").Text("افزودن");
        }
        )
        //.Groupable()
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .DataSource(dataSource => dataSource
                                    .Server()

                                    .Model(model => model.Id(item => item.Id))
                    )
    )
    <hr />
</section>
@section scripts{
    <script type="text/javascript">
        $(".btnDelete").click(function () {
            var curRec = this.id;
            showConfirm("از حذف این رکورد مطمئن هستید؟").then(function (stat) {
                if (stat) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action(MVC.Admin.Galleries.ActionNames.Delete,MVC.Admin.Galleries.Name)', // we are calling json method
                        dataType: 'json',
                        data: { id: curRec },
                        success: function (states) {
                            if (states) {
                                if (states.codeid == 1) {
                                    $.ajax({
                                        type: 'get',
                                        url: '/AdminRoot/Gallery/Index',
                                        data: { },
                                        success: function (data) {
                                            //rebind grid
                                            window.location.href = '@Url.Action(MVC.Admin.Galleries.ActionNames.Index, MVC.Admin.Galleries.Name)';
                                            showNotification("عملیات حذف با موفقیت انجام گردید", "success");
                                        }
                                    });
                                }
                                else if (states.codeid == 2 || states.codeid==3) {
                                    showNotification("خطا در عملیات حذف رکورد", "information");
                                    return;
                                }
                                else {
                                    showNotification("رکورد مورد نظر سابقه داشته و قابل حذف نمی باشد", "information");
                                    return;
                                }

                            }
                            else {
                                //res = "خطا در حذف";
                            }
                        },
                        error: function (ex) {
                            alert('Failed to retrieve states.' + ex);
                        }
                    })
                }
            });

        });
    </script>
    
}
